In [1]:
import bioregistry.pandas as brpd
import pandas as pd

# Focus on these columns when displaying the data
columns = [0,1,4,5,7,12]

df = pd.read_csv(
    "http://geneontology.org/gene-associations/goa_human.gaf.gz",
    sep="\t",
    comment='!',
    header=None,
    dtype=str,
)


df[columns].head()

,0,1,4,5,7,12
0,UniProtKB,A0A024RBG1,GO:0003723,GO_REF:0000043,UniProtKB-KW:KW-0694,taxon:9606
1,UniProtKB,A0A024RBG1,GO:0046872,GO_REF:0000043,UniProtKB-KW:KW-0479,taxon:9606
2,UniProtKB,A0A024RBG1,GO:0052840,GO_REF:0000003,EC:3.6.1.52,taxon:9606
3,UniProtKB,A0A024RBG1,GO:0052842,GO_REF:0000003,EC:3.6.1.52,taxon:9606
4,UniProtKB,A0A024RBG1,GO:0005829,GO_REF:0000052,NaN,taxon:9606

In [2]:
idx = brpd.validate_prefixes(df, column=0)

brpd.summarize_prefix_validation(df, idx)

632,633 of 632,633 (100%) rows with the following prefixes need to be fixed: ['UniProtKB']
The following prefixes could be normalized using normalize_curies():

| raw       | standardized   |
|-----------|----------------|
| UniProtKB | uniprot        |

In [3]:
brpd.normalize_prefixes(df, column=0)

df[columns].head()

,0,1,4,5,7,12
0,uniprot,A0A024RBG1,GO:0003723,GO_REF:0000043,UniProtKB-KW:KW-0694,taxon:9606
1,uniprot,A0A024RBG1,GO:0046872,GO_REF:0000043,UniProtKB-KW:KW-0479,taxon:9606
2,uniprot,A0A024RBG1,GO:0052840,GO_REF:0000003,EC:3.6.1.52,taxon:9606
3,uniprot,A0A024RBG1,GO:0052842,GO_REF:0000003,EC:3.6.1.52,taxon:9606
4,uniprot,A0A024RBG1,GO:0005829,GO_REF:0000052,NaN,taxon:9606

In [4]:
idx = brpd.validate_prefixes(df, column=0)
print(f"{(~idx).sum()} rows with the follwing prefixes need to be fixed:", df[~idx][0].unique())

0 rows with the follwing prefixes need to be fixed: []

In [5]:
idx = brpd.validate_identifiers(df, column=1, prefix_column=0, use_tqdm=True)
print(f"{(~idx).sum():,} rows have invalid identifiers")

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 633k/633k [06:12<00:00, 1.70kit/s]

TypeError: bad operand type for unary ~: 'list'

In [11]:
(~idx).sum()

0

In [ ]:
# column 1: DB
#  i.e., `UniProtKB` entries are not standard, and are therefore false
idx = brpd.validate_prefixes(df, column=0)

# Slice the dataframe based on valid and invalid prefixes
valid_prefix_df = df[idx]
invalid_prefix_df = df[~idx]

valid_prefix_df

In [ ]:
invalid_prefix_df